<%= link_to 'Sign out', session_path, :method => :delete %>
<script type="text/javascript">
    $(function() {
	  window.username = '<%= URI.escape user.username %>'
      window.app = new Privydo.Routers.TasksRouter
      Backbone.history.start();
      });
</script>

<div id='contexts'>
  <h2>Contexts: <img src='/assets/add.png' id='add-context'></h2>
	<ul id='contexts-list'>
	</ul>

</div>

<div id='app'>
	<h1>comacho</h1>

	<div id='create-task'></div>
	<div id='tasks'>
		<ul id='task-list'></ul>
	</div>
	
	
</div>

<div style='text-align: center; float:right; left: 200px;'>
	<img src='/assets/bin.png' id='bin' >
</div>


