<div class='task'>
	<div class='task_text'></div>	
	<div class='task-menu'>
		<img src="/assets/tick.png" class='tick'>
		<img src="/assets/putoff.png" class='putoff'>
	</div>

	<div class='task_date'></div>
	
	<div class='edit_text'>
		<input type='text' value='' class='task-text-input'>
	</div>
	<div class='edit_date'>
		<input type='text' value='' class='task-date-input'>
	</div>
</div>
