<div class="mover" />
<div class='task'>
  <div class='task_text'></div>  
  <div class='task_date'><span style="color: #999; font-size: 14px; cursor: pointer;" class="task_date">[Add date]</span></div>
  
  <div class='edit_text'>
    <input type='text' name='text_input' value='' class='task_text_input'>
  </div>
  <div class='edit_date'>
    <input type='text' name='date_input' value='' class='task_date_input'>
  </div>
</div>
<div class='task-menu'>
  <img src="/assets/tick.png" class='tick'>
  <img src="/assets/putoff.png" class='putoff'>
</div>
<div class='task-done-menu'>
  <img src="/assets/tick_done.png" class='donetick'>
</div>

