<form>
<div id="form">
	<p>
		<input name="username" type="text" placeholder="Username or email">
 	</p>
	<p>
		<input name="password" type="password" placeholder="Password">
	</p>
	<p>
		<input name="confirm_password" type="password" placeholder="Confirm password">
	</p>

 	<div class="submit">
		<button>Sign me up!</button>
	</div>
</div>
<div id="validation">
		<p>
		<label id="sidetip-username" for="username">Enter a username or your email address</label>
		</p>
		<p>
		<label id="sidetip-password" for="password">Choose a secure password</label>
		</p>
		<p>
		<label id="sidetip-confirm_password" for="confirm_password">Type it again, so we know it's right</label>
		</p>
</div>
</form>    
