<form>
	<p>
		<label for="username">Username or Email Address</label>
		<input name="username" type="text"/>
 	</p>
	<p>
		<label for="password">Password</label>
		<input name="password" type="password"/>
	</p>
 	<p>
		<label for="confirm_password">Confirm password</label>
		<input name="confirm_password" type="password"/>
	</p>
	<p>
		<button>Sign up</button>
	</p>
</form>    
