// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-task {
  margin-top: 10px;
  position: relative;
}
  #create-task input {
    width: 687px;
    font-size: 24px;
    font-family: inherit;
    line-height: 0.8em;
    border: 0;
    outline: none;
    padding: 4px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  }
    #create-task input::-webkit-input-placeholder {
      font-style: italic;
    }
  #create-task span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }

#task-list {
  width: 780px;
  margin-top: 10px;
}
  #task-list li {
    padding: 12px 0 11px 0;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.1em;
    min-height: 1.1em;
    border-bottom: 1px solid #cccccc;
  }

    #task-list .task
    {
      width: 699px;
      display: inline-block;
    }  

    #task-list .task_text
    {
      display: inline;
    }

    #task-list .done-task .task_text, .done-task .task_date
    {
      display: inline;
      text-decoration: line-through;
      color: gray;
    }

    #task-list .task_date
    {
      display: inline;
      float: right 
    }

    #task-list li:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    #task-list li.editing_text, li.editing_date {
      padding: 0;
      border-bottom: 0;
    }
  #task-list .editing_text .task_text,
  #task-list .edit_text {
    display: none;
  }
  #task-list .editing_date .task_date,
  #task-list .edit_date {
    display: none;
  }
    #task-list .editing_text .edit_text {
      display: block;
    }
    #task-list .editing_date .edit_date {
      display: inline;
      float: right;
    }

    #task-list .editing_text input {
      width: 550px;
      font-size: 18px;
      font-family: inherit;
      line-height: 1.1em;
      border: 0;
      outline: none;
      padding: 6px 4px 0px 6px;
      border: 1px solid #999999;
    }
    
    #task-list .editing_date input {
      width: 100px;
      font-size: 18px;
      font-family: inherit;
      margin: 0;
      line-height: 1.0em;
      border: 0;
      outline: none;
      padding: 4px 3px 0px 7px;
      border: 1px solid #999999;
     }

  .task-menu
  {
    width: 70px;
    padding-left: 1px;
    display: none;
    height: 3px;
    vertical-align: middle;
    bottom: 8px;
    position: relative;
    float: right;
  }

  .task-menu img
  {
    vertical-align: middle;
    cursor: pointer;
  }

#contexts {
  margin-top:10px;
  position: relative;
	font-size:16px;
  font-weight: bold;
  overflow: visible;
  z-index: 3000;
}

ul#contexts-list {
	list-style-type:none;
	position:relative;
  padding: 0;
  margin-top: 18px;
	display:block;
}

#contexts-list li {
  display:block;
  padding: 4px;
}

#contexts-list li span {
  display:block;
  color: #4a4546;
  text-decoration:none;
  height:25px;
  margin:0;
  cursor: pointer;
}

.dragged-context li span {
  display:block;
  color: #4a4546;
  text-decoration:none;
  height:25px;
  margin:0;
  cursor: pointer;
}

#contexts-list li.selected {
  color: #000;
  text-decoration:underline;
}

#contexts .editing .display,
#contexts .edit {
  display: none;
}
  #contexts .editing .edit {
    display: block;
  }

  #contexts .editing input {
    width: 70px;
  }

#add-context 
{

  cursor: pointer;
}

#add-context:hover
{
  opacity:0.8;
}

.overdue {
  color: #cc3d2c;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

.today {
  font-weight: bold;
}
